# Set default behavior to automatically normalize line endings
* text=auto

# Force Unix line endings for shell scripts and executables
*.sh text eol=lf
api/bin/* text eol=lf

# Ensure Windows line endings for Windows-specific files
*.bat text eol=crlf
*.ps1 text eol=crlf

